<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{{page.title}} - Cupcake Castle</title>
<meta name="description" content="{{page.meta}}">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet"> 
<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/bucket.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/product-list.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Ribeye' rel='stylesheet' type='text/css'>

</head>

<body>

<header> 

<div class="wrapper">
	<header>
		<div class="left">Cupcake</div>
		<div class="right">Castle</div>
	</header>
	
<div class="logo-container"> <img src="../images/logo-placeholder.jpg" alt="logo"> </div>
	
<div>
<nav class="nav nav-top">
	<ul>
		<li><a class="{% if page.url == '/index/' %}current{% endif %}" href="{{site.baseurl}}/">Home</a></li>
		<li><a class="{% if page.url = 'product/' %}current{% endif %}" href="{{site.baseurl}}/products/">products</a></li>
		<li><a class="{% if page.url == '/news/' %}current{% endif %}" href="{{site.baseurl}}/news/">News</a></li>
		<li><a class="{% if page.url == '/thank-you/' %}current{% endif %}" href="{{site.baseurl}}/thank-you/">Thanks</a></li>
	</ul>
</nav>

</div>

</header>



	


{% if page.showbanner %}	
	<div class="banner">
		<h4>{{page.bannertext}}</h4>
	</div>
{% endif %}


{{content}}




</body>
</html>
